* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background:url('../images/achtergrond.jpg') repeat;
}

header {
  background: url('../images/header.jpg');
  width: 950px;
  height: 150px;
  position: sticky;
  top: 100px;
  margin-bottom: 100px;
}

header h1 {
  font-size: 300%;
  font-family: Arial, Times, serif;
  color: yellow;
  text-align: left;
}

ul {
  background: Yellow;
  padding: 10px;
  position: fixed;
  top: 100px;
  z-index: 6;
}

ul li {
  background: pink;
  padding: 5px;
  border: solid 2px pink;
  display: inline-block;
}

ul li a {
  color: Yellow;
  text-decoration: none;
}

ul li a:hover {
  color: orange;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px pink;
}

section article {
  border: 3px solid purple;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article h2 {
  border: 3px solid yellow;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: pink;
  position: relative;
  left: 150px;
  z-index: 5;
}

article p {
  border: 3px solid pink;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: Yellow;
  z-index: 4;
}

footer {
  background: Yellow;
  position: absolute;
  top: 50px;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

div {
  height: 100px;
  width: 100px;
  border: solid black;
}

#b_plaatje{
  z-index: 4;
  background-color: blue;
  border-color: yellow;
  position: relative;
  top: -200px;
  left: 80px;
}

#bt_plaatje{
  z-index: 3;
  background-color: cyan;
  position: relative;
  top: -60px;
  right: 20px;
}

#t_plaatje{
  z-index: 2;
  background-color: green;
  position: relative;
  top: -30px;
  left: 45px;
}

#to_plaatje{
  z-index: 1;
  background-color: red;
}

#float{
  float: right;
  width: 300px;
  height: 200px;
  margin: 50px;
  z-index: 7;
}
